.comment-box-container {
  background-color: #7c7c7c;
  width: 330px;
  position: fixed;
  right: 0.5rem;
  bottom: 0;
  padding: 1rem;
  color: #ffffff;

  .cmnt-heading {
    display: flex;
    justify-content: space-between;
    &__cross-icon {
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      font-size: 0.8rem;
    }
    span {
      font-size: 0.8rem;
      font-weight: 700;
    }
  }
  hr {
    margin-block: 0.6rem;
    height: 1px;
  }
  .cmnt-section,
  .cmnt-msg {
    span {
      margin-top: 0.4rem;
      display: block;
      font-weight: 700;
      font-size: 0.7rem;
    }
  }
  .cmnt-section {
    textarea {
      height: 5rem;
      width: 100%;
      resize: none;
      border-radius: 4px;
      padding: 8px;
      outline: none;
      font-size: 0.7rem;
      margin-top: 0.4rem;
    }
    &__action-btns {
      display: flex;
      justify-content: flex-end;

      gap: 1rem;
      margin: 0.5rem 0px;
      &--save-btn,
      &--cancel-btn {
        background-color: #e2e2e2;
        color: #414141;
        height: 1.6rem;
        width: 1.1rem;
        font-size: 0.7rem;
        &:hover {
          background: #e2e2e2;
        }
      }
      &--cancel-btn {
        color: #2422d5;
        border: 1px solid #2422d5;
      }
    }
  }
  .cmnt-msg {
    &__comments-cont {
      min-height: 260px;
      max-height: 260px;
      overflow: auto;
    }
    &__cmnt-msg-text {
      padding: 0.7rem;
      border-radius: 4px;
      background: #ebebeb;
      color: #000;
      margin: 12px 0px;

      &--date-and-time {
        color: darkgray;
        padding-right: 8px;
        display: inline !important;
      }
      &--text {
        font-size: 0.7rem;
        font-weight: 500;
      }
      &--date-time-wrapper {
        span {
          font-size: 0.6rem;
        }
        margin-top: 0.2rem;

        font-weight: 700;
      }
    }
  }
}
